{{- bos_token -}}
{%- for message in messages -%}
    {%- if message['role'] == 'system' or message['role'] == 'developer' -%}
        {#- Defer system content to first user message -#}
        {%- set _sys = message['content'] -%}
    {%- elif message['role'] == 'user' -%}
        {{- '<|turn>user\n' -}}
        {%- if _sys is defined -%}
            {{- _sys | trim -}}
            {{- '\n\n' -}}
            {%- set _sys = none -%}
        {%- endif -%}
        {%- if message['content'] is string -%}
            {{- message['content'] | trim -}}
        {%- endif -%}
        {{- '<turn|>\n' -}}
    {%- elif message['role'] == 'assistant' -%}
        {{- '<|turn>model\n' -}}
        {%- if message.get('content') is string -%}
            {{- message['content'] | trim -}}
        {%- endif -%}
        {{- '<turn|>\n' -}}
    {%- endif -%}
{%- endfor -%}
{%- if add_generation_prompt -%}
    {{- '<|turn>model\n' -}}
{%- endif -%}
